.header{
    background: hsl(213, 28%, 19%);
    margin-top: 63px;
    color:lavenderblush;
    display: flex;
}

.header-item{
    color: lavenderblush;
    font-size: 17px;
}

.drawer-nav{
    background-color: #232f3e;
    padding: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-head-font{
    color: lavenderblush;
    margin-left: 10px ;
    padding: 0px;
}

.drawer-paper{
    width:550px;
    padding: 0px 0px 20px;
}

.list{
    width: 350px;
    /* padding: 20px; */
    
}

.heading-font{
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px 10px 0px ;
}

.list-items{
    padding-left: 200px;
    margin-top:20px;
    /* margin-left: 20px ; */

}