.items{
    display: flex;
    flex-wrap: wrap;
}

.search{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    height: 40px;
    
}

.search-icon{
    background-color: #858585;
    border-radius: 15px;
    padding: 0;
    margin-left: 5px;
}

.search-input{
    border-radius: 10px;
    padding: 15px;
    width: 40%;
    border: inherit;
}